<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>device_singleray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>lexers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>loaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>obj2xml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>renderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>sys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xml2obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B59A6611B944450A42D29A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D1E6B4F49A242209F2C96BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA81784B7E94341A201271E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33684D9DCA064BDF89AE4E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F13451A43E0493DB8A6AB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BFC816D9CB445DAD31FC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595A6D9A38114A9695B67D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6958A0AAEC5C4848A0231515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC1C8F07459491CB8D728B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9315ECB611E7497AAD021037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95938E2DD0B444D6B687142B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
