<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>device_singleray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>lexers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>loaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>obj2xml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>riv_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>riv_main_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>sys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xml2obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37F0F2F3C1164578BE4EDBEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D4E60E0C9434567AD73D53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB14CB4D68A41DEAE574AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B0A0C0B1554CC4B69579EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601A77148E414CC98CC98CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2B0D79D85A4427293CCEE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2894F9055E14D1DAA55E5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4EFF004A464140811F1BAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13198E96AE745C29CAEC922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE51E4EFB2B64DAC89E8E3AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8D17A7CC4C84190A88F55AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E11400B17F4A699AFCD035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
